<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Kintore</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Kintore" />
    <meta name="keywords" content="jquery, accordion, sliding, vertical, css3, hover, animation, slide, navigation" />
    <meta name="author" content="Codrops" />
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&v2' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'user',media: 'all','data-turbolinks-track'=> true %>
    <%= csrf_meta_tags %>
</head>

<body>
    <div id="wappar">
    <header>
        <table width=100%>
            <td>
                <div id="logo"> 
                    <a href="#"><img src="/assets/logo.png" widht="200" height="50"></a>
                </div>
            </td>
            <td>
                <div id="header">
                    <li><a href="<%= logout_path %>">ログアウト</a></li>
                </div>
            </td>
        </table>
    </header>

    <div class="container">
        <% if @user.term == 1 %>

        <div class="contants">
        <h1>メニュー名 <%= @user.menus.first.try(:name) %></h1>

        <div id="menue">
           <%= simple_format("メニュー説明"+@user.menus.first.try(:description), :class=>"menue_data") %>
        </div>
        <div id="va-accordion" class="va-container">
            <div class="va-nav">
                    <span class="va-nav-prev">Previous</span>
                    <span class="va-nav-next">Next</span>
                </div>
            <div class="va-wrapper" style="min-height: 100px;">
                <% if @trainings.present? %>
                    <% @trainings.each_with_index do |training,index| %>
                    <div style="display: none;">
                        <section id="inline-content_<%= index %>">
                            <%= simple_format(training.try(:description), :class=> "description") %>
                        </section>
                    </div>
                    
                    <div class="va-slice va-slice-1" style=<%=" background-image:url(/assets/" + (@random=rand(1..5)).to_s + ".jpg) " %>>
                        <h3 class="va-title"><%= training.name %></h3>
                        <div class="va-content">
                            <ul>
                                <li><a class="inline" href="#inline-content_<%= index %>">説明</a></li>
                                <li><a href="<%= training.try(:url) %>" class="youtube" title=""> 動画 </a></li>
                                <% if training.url2.present? %>
                                    <li><a href="<%= training.try(:url2) %>" class="youtube" title=""> 動画 </a></li>
                                <% end %>
                                <li><a href="#">閉じる</a></li>
                            </ul>
                        </div>
                    </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        </div>

        <% elsif @user.term == 2 %>

        <div class="contants">
        <h1>メニュー名 <%= @user.menus[0].try(:name)%></h1>

        <div id="menue">
           <%= simple_format("メニュー説明"+@user.menus.first.try(:description), :class=>"menue_data") %>
        </div>
        <div id="va-accordion" class="va-container">
            <div class="va-nav">
                    <span class="va-nav-prev">Previous</span>
                    <span class="va-nav-next">Next</span>
                </div>
            <div class="va-wrapper" style="min-height: 100px;">
                <% if @trainings_first.present? %>
                    <% @trainings_first.each_with_index do |training,index| %>
                    <div style="display: none;">
                        <section id="inline-content_<%= index %>">
                            <%= simple_format(training.try(:description), :class=> "description") %>
                        </section>
                    </div>

                    <%= @random=rand(1..5) %>
                    <div class="va-slice va-slice-1" style=<%=" background-image:url(/assets/" + (@random=rand(1..5)).to_s + ".jpg) " %>>
                        <h3 class="va-title"><%= training.name %></h3>
                        <div class="va-content">
                            <ul>
                                <li><a class="inline" href="#inline-content_<%= index %>">説明</a></li>
                                <li><a href="<%= training.try(:url) %>" class="youtube" title=""> 動画 </a></li>
                                <% if training.url2.present? %>
                                    <li><a href="<%= training.try(:url2) %>" class="youtube" title=""> 動画 </a></li>
                                <% end %>
                                <li><a href="#">閉じる</a></li>
                            </ul>
                        </div>
                    </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        </div>

        <div class="contants">
        <h1>メニュー名 <%= @user.menus[1].try(:name) %></h1>

         <div id="menue">
           <%= simple_format("メニュー説明"+@user.menus.first.try(:description), :class=>"menue_data") %>
        </div>
        <div id="va-accordion" class="va-container">
            <div class="va-nav">
                    <span class="va-nav-prev">Previous</span>
                    <span class="va-nav-next">Next</span>
                </div>
            <div class="va-wrapper" style="min-height: 100px;">
                <% if @trainings_second.present? %>
                    <% @trainings_second.each_with_index do |training,index| %>
                    <div style="display: none;">
                        <section id="inline-content_<%= index %>">
                            <%= simple_format(training.try(:description), :class=> "description") %>
                        </section>
                    </div>

                    <%= @random=rand(1..5) %>
                    <div class="va-slice va-slice-1" style=<%=" background-image:url(/assets/" + (@random=rand(1..5)).to_s + ".jpg) " %>>
                        <h3 class="va-title"><%= training.name %></h3>
                        <div class="va-content">
                            <ul>
                                <li><a class="inline" href="#inline-content_<%= index %>">説明</a></li>
                                <li><a href="<%= training.try(:url) %>" class="youtube" title=""> 動画 </a></li>
                                <% if training.url2.present? %>
                                    <li><a href="<%= training.try(:url2) %>" class="youtube" title=""> 動画 </a></li>
                                <% end %>
                                <li><a href="#">閉じる</a></li>
                            </ul>
                        </div>
                    </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        </div>


        <% else %>

        <div class="contants">
        <h1>メニュー名 <%= @user.menus[0].try(:name) %></h1>

         <div id="menue">
           <%= simple_format("メニュー説明"+@user.menus.first.try(:description), :class=>"menue_data") %>
        </div>
        <div id="va-accordion" class="va-container">
            <div class="va-nav">
                    <span class="va-nav-prev">Previous</span>
                    <span class="va-nav-next">Next</span>
                </div>
            <div class="va-wrapper" style="min-height: 100px;">
                <% if @trainings_first.present? %>
                    <% @trainings_first.each_with_index do |training,index| %>
                    <div style="display: none;">
                       <section id="inline-content_<%= index %>">
                            <%= simple_format(training.try(:description), :class=> "description") %>
                        </section>
                    </div>

                    <%= @random=rand(1..5) %>
                    <div class="va-slice va-slice-1" style=<%=" background-image:url(/assets/" + (@random=rand(1..5)).to_s + ".jpg) " %>>
                        <h3 class="va-title"><%= training.name %></h3>
                        <div class="va-content">
                            <ul>
                                <li><a class="inline" href="#inline-content_<%= index %>">説明</a></li>
                                <li><a href="<%= training.try(:url) %>" class="youtube" title=""> 動画 </a></li>
                                <% if training.url2.present? %>
                                    <li><a href="<%= training.try(:url2) %>" class="youtube" title=""> 動画 </a></li>
                                <% end %>
                                <li><a href="#">閉じる</a></li>
                            </ul>
                        </div>
                    </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        </div>

        <div class="contants">
        <h1>メニュー名 <%= @user.menus[1].try(:name) %></h1>

         <div id="menue">
           <%= simple_format("メニュー説明"+@user.menus.first.try(:description), :class=>"menue_data") %>
        </div>
        <div id="va-accordion" class="va-container">
            <div class="va-nav">
                    <span class="va-nav-prev">Previous</span>
                    <span class="va-nav-next">Next</span>
                </div>
            <div class="va-wrapper" style="min-height: 100px;">
                <% if @trainings_second.present? %>
                    <% @trainings_second.each_with_index do |training,index| %>
                    <div style="display: none;">
                       <section id="inline-content_<%= index %>">
                            <%= simple_format(training.try(:description), :class=> "description") %>
                        </section>
                    </div>

                    <%= @random=rand(1..5) %>
                    <div class="va-slice va-slice-1" style=<%=" background-image:url(/assets/" + (@random=rand(1..5)).to_s + ".jpg) " %>>
                        <h3 class="va-title"><%= training.name %></h3>
                        <div class="va-content">
                            <ul>
                                <li><a class="inline" href="#inline-content_<%= index %>">説明</a></li>
                                <li><a href="<%= training.try(:url) %>" class="youtube" title=""> 動画 </a></li>
                                <% if training.url2.present? %>
                                    <li><a href="<%= training.try(:url2) %>" class="youtube" title=""> 動画 </a></li>
                                <% end %>
                                <li><a href="#">閉じる</a></li>
                            </ul>
                        </div>
                    </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        </div>

        <div class="contants">
        <h1>メニュー名 <%= @user.menus[2].try(:name) %></h1>

        <div id="menue">
           <%= simple_format("メニュー説明"+@user.menus.first.try(:description), :class=>"menue_data") %>
        </div>
        <div id="va-accordion" class="va-container">
            <div class="va-nav">
                    <span class="va-nav-prev">Previous</span>
                    <span class="va-nav-next">Next</span>
                </div>
            <div class="va-wrapper" style="min-height: 100px;">
                <% if @trainings_third.present? %>
                    <% @trainings_third.each_with_index do |training,index| %>
                    <div style="display: none;">
                       <section id="inline-content_<%= index %>">
                            <%= simple_format(training.try(:description), :class=> "description") %>
                        </section>
                    </div>

                    <div class="va-slice va-slice-1" style=<%=" background-image:url(/assets/" + (@random=rand(1..5)).to_s + ".jpg) " %>>
                        <h3 class="va-title"><%= training.name %></h3>
                        <div class="va-content">
                            <ul>
                                <li><a class="inline" href="#inline-content_<%= index %>">説明</a></li>
                                <li><a href="<%= training.try(:url) %>" class="youtube" title=""> 動画 </a></li>
                                <% if training.url2.present? %>
                                    <li><a href="<%= training.try(:url2) %>" class="youtube" title=""> 動画 </a></li>
                                <% end %>
                                <li><a href="#">閉じる</a></li>
                            </ul>
                        </div>
                    </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        </div>

        <% end %>
    <footer id="footer">
        <div class="kara">
        </div>
        <div class="mail" >
        <a href="mailto:al14007@shibaura-it.ac.jp"> MAIL </a>
        </div>

        <div class="teikyo">
            <a href="http://www.jbbf.jp/">提供　|　全国ボディビル協会</a>
        </div>

    </footer>
    </div>
</div>
    <%= javascript_include_tag 'user' %>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".youtube").colorbox({
                iframe:true,
                innerWidth:600,
                innerHeight:400,
            });
            $(function() {
                $(".inline").colorbox({
                    inline:true,
                    innerWidth: true,
                    innerHeight: true,
                    initialWidth: 300,
                    initialHeight: 150,
                    width: 500,
                    height: 400,
                    opacity: 1.0
                });
            });

            $('.va-container').vaccordion({
                visibleSlices   : 5,
                expandedHeight  : 250,
                animOpacity     : 0.1,
                contentAnimSpeed: 100
            });
            
        });
    </script>
</body>
</html>
