<div class="form-group form-md-line-input">
    <label class="col-md-2 control-label">トレーニング名<span class="required">*</span></label>
    <div class="col-md-4">
        <%= f.text_field :name, class: "form-control",placeholder: "トレーニング名" %>
        <div class="form-control-focus"> </div>
    </div>
</div>

<div class="form-group form-md-line-input">
    <label class="col-md-2 control-label">トレーニング詳細<span class="required">*</span></label>
    <div class="col-md-5">
        <%= f.text_area :description, class: "form-control maxlength-handler", size: "20x8" ,placeholder: "トレーニング詳細" %>
        <div class="form-control-focus"> </div>
    </div>
</div>

<div class="form-group form-md-line-input">
    <label class="col-md-2 control-label">URL1<span class="required">*</span></label>
    <div class="col-md-4">
        <%= f.text_field :url, class: "form-control",placeholder: "URL" %>
        <div class="form-control-focus"> </div>
    </div>
</div>

<div class="form-group form-md-line-input">
    <label class="col-md-2 control-label">URL2</label>
    <div class="col-md-4">
        <%= f.text_field :url2, class: "form-control",placeholder: "URL2" %>
        <div class="form-control-focus"> </div>
    </div>
</div>


<div class="form-group form-md-line-input">
    <label class="col-md-2 control-label">部位<span class="required">*</span></label>
    <div class="col-md-4">
        <div class="md-radio-inline">

            <div class="md-radio">
                <%= f.radio_button :part, PART[:arm], checked: @training.try(:part) == PART[:arm],class: "md-radiobtn" %>
                <label for="training_part_1">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>腕
                </label>
            </div>
            <div class="md-radio">
                <%= f.radio_button :part, PART[:shoulder], checked: @training.try(:part) == PART[:shoulder],class: "md-radiobtn" %>
                <label for="training_part_2">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>肩
                </label>
            </div>
            <div class="md-radio">
                <%= f.radio_button :part, PART[:bust], checked: @training.try(:part) == PART[:bust],class: "md-radiobtn" %>
                <label for="training_part_3">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>胸
                </label>
            </div>

            <div class="md-radio">
                <%= f.radio_button :part, PART[:back], checked: @training.try(:part) == PART[:back],class: "md-radiobtn" %>
                <label for="training_part_4">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>背筋
                </label>
            </div>
            <div class="md-radio">
                <%= f.radio_button :part, PART[:abs], checked: @training.try(:part) == PART[:abs],class: "md-radiobtn" %>
                <label for="training_part_5">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>腹筋
                </label>
            </div>
            <div class="md-radio">
                <%= f.radio_button :part, PART[:leg], checked: @training.try(:part) == PART[:leg],class: "md-radiobtn" %>
                <label for="training_part_6">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>足
                </label>
            </div>
        </div>
    </div>
</div>
